@model AuthenticationChallenge.Controllers.EditUserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit User</h2>
<form action="Edit" method="post">    
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="Username">Username:</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="">AccountNumber:</label>
        <input asp-for="AccountNumber" class="form-control" />
        <span asp-validation-for="AccountNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="">SSN:</label>
        <input asp-for="SSN" class="form-control" />
        <span asp-validation-for="SSN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="">Balance:</label>
        <input asp-for="Balance" class="form-control" />
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-default">Submit</button>
</form>

