@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Interested in a job?:</strong> <a href="https://www.securityps.com">https://www.securityps.com</a><br />
    <strong>Github Site:</strong> <a href="https://github.com/securityps">https://github.com/securityps</a>
</address>
